.main{
    background-image: url(images/bg.jpg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #313a2d;
    background-size: cover;
    color:rgb(205, 233, 217);
}

a.nav{
    color:rgb(205, 233, 217);
}
a.nav:hover{
    color: rgb(170, 216, 170);
}
.nav{
    text-align: center;
    float: center;
}
.nav-button{
    display: inline;
    padding: 10px;
    border-style: solid;
    border-radius: 10%;
}

.welcome-header{
    color:rgb(170, 216, 170);
}